.ruff_cache/
__pycache__/
.pytest_cache/
.mypy_cache/
.venv/
*.egg-info/
/build/
.pytype/

# Web wrapper generator
/web-wrapper-generator/web-wrapper-generator
/web-wrapper-generator/builds/
/web-wrapper-generator/templates/